.list-size{
    width: 80%;
    height: 100%;
    display: inline-flex;
}
li{
    list-style: none;
}
.display-image{
    display: inline;
    width: 70%;
}
.display-text{
    display: inline;
    width: 75%;
    color: blue;
}

/* app.add_middleware(
    CORSMiddleware,
    allow_origins=["http://localhost:3000"],  # Allows all origins
    allow_credentials=True,
    allow_methods=["*"],  # Allows all methods
    allow_headers=["*"],  # Allows all headers
) */