.list-size{
    width: 80%;
    height: 100%;
    display: inline-flex;
}
li{
    list-style: none;
}
.display-image{
    display: inline;
    width: 70%;
}
.display-text{
    display: inline;
    width: 75%;
    color: blue;
}